
    <div>
        <nav >
            <ul class="links">
                <li><a routerLink="home">home</a></li>
                <li><a routerLink="login">login</a></li>
                <li><a routerLink="register">register</a></li> 
                <li><a routerLink="admin/disponibilidad">disponibilidad</a></li>
                <li><a routerLink="dashboard/disponibilidad/new">disponibilidad list</a></li>
                <li><a routerLink="dashboard/disponibilidad/new">nueva disponibilidad</a></li>
            </ul>
        </nav>
    </div>
